<div class="modal-content">
  <form class="example-form" [formGroup]="addStateForm"  #roleFormDirective="ngForm" (ngSubmit)="toSave()">

    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <h1>State</h1>
      </div>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Country Name</mat-label>
      <mat-select formControlName="countryId">
        <mat-option *ngFor="let country of countries"
          [value]="country.position">{{country.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>State Name</mat-label>
      <input matInput placeholder="State Name" formControlName="stateName">
    </mat-form-field>

    <div class="footer-button">
      <button class="product-button" mat-raised-button color="primary" (click)="toSave()">Save</button>&nbsp;&nbsp;
      <button class="product-button" mat-raised-button color="primary" (click)="toCancel()">Cancel</button>
    </div>

  </form>
</div>
